// $primary: #11135c; // Mavidian darkest purple
$primary: #214978; // Mavidian dark blue
$secondary: #18716a; //Mavidian dark green
$info: #7f7f7f; // gray

// $code-heading-background: #dededc; // light gray
$code-text-color: black;

$navbar-back-color: lighten($primary, 65%);

$font-size-base: 1.1rem;
$line-height-base: 1.6;
$paragraph-margin-bottom: 1.2rem;

