<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }} - {{ page.title }}</title>
    {% seo %}

    <!-- Next 2 lines are redundant,either one of the 2 lines below should work. Lines 3 and 4 are for android and apple respectively -->
    <link rel="shortcut icon" href="/favicon.ico?"  type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.png?"  type="image/png"/>
    <link rel="icon" type="image/png" href="/img/favicon_192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/css/main.css" | relative-url }}">
</head>
