#blog {
    // a {
    //     text-decoration: none;
    //     &:hover {
    //         color: $info;
    //     }
    // }
    
    padding-bottom: 1.2rem;

    .blog-title {
       padding-bottom: 1.2rem;
    }

    .post-title {  // title followed by Posted by .. on ..
        margin-bottom: 0;
    }

    // Posted by .. on ..
    .text-info {
        font-size: 88%;
        font-style: italic;
    }
}