#footer {

    .container-fluid {
        background-color: $navbar-back-color;
        margin-top: 0;
        border-top-style: ridge;
        font-size: 75%;
    }

    .social-links {
        margin-bottom: 0.6rem;
    }

    .fineprint {
        font-style: italic;
        font-size: 75%;
    }
}